mat-card {
  padding: 0 0.5rem;
  margin-top: 0.5rem;
}

mat-form-field {
  width: 250px;
}

.sent {
  --mat-card-elevated-container-color: var(--transaction-sent);
}

.received {
  --mat-card-elevated-container-color: var(--transaction-received);
}
